@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    MBFC Tower 1<br />
    Singapore<br />
    <abbr title="Phone">P:</abbr>
    85118487
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Viswanathan.Saravanan@sc.com">Viswanathan.Saravanan@sc.com</a><br />
</address>

