USE [test]
GO
/****** Object:  Table [dbo].[ttn_fees_bus_mdl]    Script Date: 7/16/2018 6:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ttn_fees_bus_mdl](
	[model_id] [int] NOT NULL,
	[idx_iso_a2] [varchar](2) NOT NULL,
	[idx_fees_bus_center] [varchar](35) NOT NULL,
	[idx_business_class_code] [varchar](50) NOT NULL,
	[idx_iso_MIC] [varchar](4) NULL,
	[idx_iso_a3] [varchar](3) NULL,
	[idx_tenor_id] [int] NULL,
	[idx_asset_base_denomination] [varchar](3) NULL,
	[idx_model_code] [nchar](10) NULL,
	[idx_model_ver] [int] NOT NULL,
	[data_model_effective] [date] NOT NULL,
 CONSTRAINT [PK_ttn_fees_bus_mdl] PRIMARY KEY CLUSTERED 
(
	[model_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ttn_fees_bus_mdl] ([model_id], [idx_iso_a2], [idx_fees_bus_center], [idx_business_class_code], [idx_iso_MIC], [idx_iso_a3], [idx_tenor_id], [idx_asset_base_denomination], [idx_model_code], [idx_model_ver], [data_model_effective]) VALUES (1, N'SG', N'TR_INV', N'TXN_EQUITY', N'XLON', N'GBP', NULL, NULL, N'SG.0003   ', 1, CAST(N'2018-01-13' AS Date))
INSERT [dbo].[ttn_fees_bus_mdl] ([model_id], [idx_iso_a2], [idx_fees_bus_center], [idx_business_class_code], [idx_iso_MIC], [idx_iso_a3], [idx_tenor_id], [idx_asset_base_denomination], [idx_model_code], [idx_model_ver], [data_model_effective]) VALUES (2, N'SG', N'TR_INV', N'TXN_EQUITY', N'XSBT', N'SGD', NULL, NULL, N'SG.0001   ', 1, CAST(N'2018-01-13' AS Date))
INSERT [dbo].[ttn_fees_bus_mdl] ([model_id], [idx_iso_a2], [idx_fees_bus_center], [idx_business_class_code], [idx_iso_MIC], [idx_iso_a3], [idx_tenor_id], [idx_asset_base_denomination], [idx_model_code], [idx_model_ver], [data_model_effective]) VALUES (3, N'SG', N'TR_INV', N'TXN_EQUITY', N'XSES', N'SGD', NULL, NULL, N'SG.0001   ', 1, CAST(N'2018-01-13' AS Date))
GO
ALTER TABLE [dbo].[ttn_fees_bus_mdl] ADD  CONSTRAINT [DF_ttn_fees_bus_mdl_idx_model_ver]  DEFAULT ((1)) FOR [idx_model_ver]
GO
ALTER TABLE [dbo].[ttn_fees_bus_mdl]  WITH CHECK ADD  CONSTRAINT [FK_ttn_fees_bus_mdl_ttn_business_class] FOREIGN KEY([idx_business_class_code])
REFERENCES [dbo].[ttn_business_class] ([idx_business_class_code])
GO
ALTER TABLE [dbo].[ttn_fees_bus_mdl] CHECK CONSTRAINT [FK_ttn_fees_bus_mdl_ttn_business_class]
GO
ALTER TABLE [dbo].[ttn_fees_bus_mdl]  WITH CHECK ADD  CONSTRAINT [FK_ttn_fees_bus_mdl_ttn_fees_business] FOREIGN KEY([idx_fees_bus_center])
REFERENCES [dbo].[ttn_fees_business] ([idx_fees_bus_center])
GO
ALTER TABLE [dbo].[ttn_fees_bus_mdl] CHECK CONSTRAINT [FK_ttn_fees_bus_mdl_ttn_fees_business]
GO
ALTER TABLE [dbo].[ttn_fees_bus_mdl]  WITH CHECK ADD  CONSTRAINT [FK_ttn_fees_bus_mdl_ttn_fees_tenor] FOREIGN KEY([idx_tenor_id])
REFERENCES [dbo].[ttn_fees_tenor] ([tenor_id])
GO
ALTER TABLE [dbo].[ttn_fees_bus_mdl] CHECK CONSTRAINT [FK_ttn_fees_bus_mdl_ttn_fees_tenor]
GO
ALTER TABLE [dbo].[ttn_fees_bus_mdl]  WITH CHECK ADD  CONSTRAINT [FK_ttn_fees_bus_mdl_ttn_ISO10383] FOREIGN KEY([idx_iso_MIC])
REFERENCES [dbo].[ttn_ISO10383] ([iso_MIC])
GO
ALTER TABLE [dbo].[ttn_fees_bus_mdl] CHECK CONSTRAINT [FK_ttn_fees_bus_mdl_ttn_ISO10383]
GO
ALTER TABLE [dbo].[ttn_fees_bus_mdl]  WITH CHECK ADD  CONSTRAINT [FK_ttn_fees_bus_mdl_ttn_ISO4217] FOREIGN KEY([idx_iso_a3])
REFERENCES [dbo].[ttn_ISO4217] ([iso_a3])
GO
ALTER TABLE [dbo].[ttn_fees_bus_mdl] CHECK CONSTRAINT [FK_ttn_fees_bus_mdl_ttn_ISO4217]
GO
ALTER TABLE [dbo].[ttn_fees_bus_mdl]  WITH CHECK ADD  CONSTRAINT [FK_ttn_fees_bus_mdl_ttn_ISO42171] FOREIGN KEY([idx_asset_base_denomination])
REFERENCES [dbo].[ttn_ISO4217] ([iso_a3])
GO
ALTER TABLE [dbo].[ttn_fees_bus_mdl] CHECK CONSTRAINT [FK_ttn_fees_bus_mdl_ttn_ISO42171]
GO
ALTER TABLE [dbo].[ttn_fees_bus_mdl]  WITH CHECK ADD  CONSTRAINT [FK_ttn_fees_bus_mdl_ttn_wmxml_CountryRegionCodes] FOREIGN KEY([idx_iso_a2])
REFERENCES [dbo].[ttn_wmxml_CountryRegionCodes] ([iso_a2])
GO
ALTER TABLE [dbo].[ttn_fees_bus_mdl] CHECK CONSTRAINT [FK_ttn_fees_bus_mdl_ttn_wmxml_CountryRegionCodes]
GO
