USE [test]
GO
/****** Object:  Table [dbo].[DataART59]    Script Date: 7/16/2018 12:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataART59](
	[scbRef] [varchar](63) NULL,
	[o_pdf_cif] [varchar](max) NULL,
	[o_pdf_cif_buyer] [varchar](max) NULL,
	[o_pdf_cif_seller] [varchar](max) NULL,
	[o_pdf_h20] [varchar](max) NULL,
	[o_pdf_b2] [varchar](max) NULL,
	[o_pdf_b4] [varchar](max) NULL,
	[o_pdf_b6] [varchar](4) NULL,
	[o_pdf_b7] [varchar](max) NULL,
	[o_pdf_b9] [varchar](max) NULL,
	[o_pdf_b11] [varchar](max) NULL,
	[o_pdf_b13] [varchar](3) NOT NULL,
	[o_pdf_b15] [varchar](max) NULL,
	[o_pdf_b16] [varchar](max) NULL,
	[o_pdf_b18] [varchar](max) NULL,
	[o_pdf_b20] [varchar](max) NULL,
	[o_pdf_b21] [varchar](max) NULL,
	[o_pdf_b23] [varchar](max) NULL,
	[o_pdf_b24] [varchar](max) NULL,
	[o_pdf_b25] [varchar](max) NULL,
	[o_pdf_b26] [varchar](max) NULL,
	[o_pdf_b28] [varchar](max) NULL,
	[o_pdf_b29] [varchar](max) NULL,
	[o_pdf_b31] [varchar](max) NULL,
	[o_pdf_b32] [varchar](max) NULL,
	[o_pdf_b34] [varchar](4) NOT NULL,
	[o_pdf_b37] [varchar](max) NULL,
	[o_pdf_b38] [varchar](max) NULL,
	[ORDERNATURE] [varchar](3) NOT NULL,
	[record_id] [bigint] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
